.category__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__title {
  text-align: center;
}

.category__body {
  display: flex;
  flex-direction: row;
}

.category__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  padding-left: 10px;
}

.category__joke {
  padding-left: 150px;
  padding-right: 20px;
  position: absolute;
  left: 0;
}
