.query__container {
  display: flex;
  flex-direction: column;
}

.query_title {
  align-self: center;
}

.query__form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.query__jokes {
  align-self: center;
}
